
/********** LARGER GRID *************/
.articles {
    background-color: rgb(232, 219, 219);
    padding: 60px 100px;
    display: grid;
    justify-items: center;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    grid-template-rows: repeat(auto-fill, minmax(20, 50px));
    grid-gap: 40px;
}

.article-category {
    color: #1c7d88;
    font-size: 1em; 
    font-weight: 700;
}

.article h2 {
    padding: 0 20px;
    font-family: 'Libre Baskerville', serif;
}

h3 {
    font-family: 'Libre Baskerville', serif;
}

.article p {
    padding: 20px;
    line-height: 30px;
}

.articles div {
    background-color: white;
}

.article img {
    width: 100%;
}

#quote {
    text-align: center;
}

#quote p,
.link-icon p {
    line-height: 50px;
}

#quote img {
    padding: 50px 0 0;
    width: 35px;
}

.fa-link {
    padding: 50px 0 0;
}

.link-icon a {
    text-decoration: none;
    color: #393939;
}

.link-icon {
    text-align: center;
}
.span-l-link img {
    margin-top: 20px;
}

.span-l-link {
    grid-row: span 20;
}

.article.span-xs {
    grid-row: span 12;
}

.article.span-s {
    grid-row: span 13;
    position: relative;
}

.article.span-m {
    grid-row: span 15;
}

.article.span-l {
    grid-row: span 22;
}

.article.span-xl {
    grid-row: span 24;
}

.article-img-space {
    margin-bottom: 20px;
}

#audio {
    width: 100%;
    margin-top: -5px;
}

#audio:hover {
    cursor: pointer;
}

#play-button {
    position: absolute;
    top: 36%;
    left: 35px;
    z-index: 2;
    width: 50px;
}

/**** Large grids numbers *****/
#l-grid-numbers {
    background-color: rgb(232, 219, 219);
    text-align: center;
    grid-column: 1/-1;
    justify-content: center;
}

#l-grid-numbers ol li {
    list-style: none;
    display: inline;
    padding: 5px 10px;
    transition: ease-in-out 0.5s;
}

#l-grid-numbers li:hover {
    background-color: #171717;
    border-radius: 5px;
    cursor: pointer;
    color: #fff;
}

#l-grid-numbers ol li:first-of-type:hover,
#l-grid-numbers ol li:last-of-type:hover {
    background-color: rgb(232, 219, 219);;
    cursor: pointer;
}

#l-grid-numbers img:hover {
    transform: scale(1.1);
}

#l-grid-numbers img {
    display: inline-block;
    width: 20px;
    height: 20px;
    padding: 10px;
    background-color: #fff;
    border-radius: 50%;
    vertical-align: middle;
    transition: 0.6s;
}