/************* MEDIA  STYLES ************/
@media screen and (max-width: 1200px) {
     header { 
        grid-area:
            "guitar-img guitar-img"
            "watch beetle"
    }

    .large-img h2,
    .small-watch h2,
    .small-car h2 {
        font-size: 1em;
    }
    
    .article {
        max-width: 400px;
    }

    .l-grid-numbers {
        grid-column: span 2;
    }


}

@media screen and (max-width: 1450px) {
    .top {
        background-color: #171717;
        padding: 50px 60px 0;
    }
}