/************* MEDIA  STYLES ************/
@media screen and (max-width: 1200px) {
    .small-watch h1,
    .small-car h1 {
        margin: 10px 0;
        font-size: 1em;
    }
    
    .article {
        max-width: 400px;
    }

  

}

@media screen and (min-width: 1450px) {
    .top {
        background-color: #171717;
        padding: 50px 260px 0;
    }
}

@media screen and (max-width: 650px) {
    .s-container {
        grid-template-columns: 50% 1fr; 
        grid-template-rows: 200px 280px 280px;
    }

    .large-img {
        grid-column: span 2;
        grid-row: span 2;
    }

    .small-watch {
        grid-column: 1;
        grid-row: 3;
    }

    .small-car {
        grid-column: 2;
        grid-row: 3;
    }

    .s-container-text h1 {
        font-size: 1em;
    }
}