* {
    margin: 0;
    padding: 0;
}

body {
    margin: 0 auto;
    width: 100vw;
    font-size: 18px; 
    font-family: 'Source Sans Pro', sans-serif;
}

h2,
.tag-title {
    text-transform: capitalize;
}

.article-category {
    color: #1c7d88;
    font-weight: 700;
    font-family: 'Libre Baskerville', serif;
}

p {
    color: rgb(122, 122, 122);
}

.p-large {
    color: #171717;
    font-size: 2em;
    text-align: center;
    font-weight: 700;
    font-family: 'Libre Baskerville', serif;
}



/********** 
*********** FIRST SECTION 
**********/
.top {
    background-color: #171717;
    padding: 50px 60px 0;
}

header {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    justify-content: space-between;
    padding: 30px 10px;
    width: 100%;
    border-bottom: 1px solid #393939;
}

.header {
    align-self: center;
}

#icons i {
    font-size: 1.2em; 
    margin: 5px;  
    color: #fff;
}

#icons i:hover,
.search img:hover,
input {
    cursor: pointer;
}

.logo {
    justify-self: center;
}

.logo img {
    width: 250px;
}

.search {
    justify-self: end;
}

.search img {
    width: 1.5em;
    vertical-align: middle;
}


/***** INPUT PLACEHOLDER SYLE ******/

.search input::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: #fff;
    text-align: right;
}

.search input::-moz-placeholder { color: #fff;} /* Firefox 19+ */
.search input:-ms-input-placeholder { color: #fff;}  /* IE 10+ */
.search input:-moz-placeholder { color: #fff;}  /* Firefox 18- */


input {
    background-color: transparent;
    font-size: 0.8em;
    border: none;
    color: white;
    width: 150px;
}

/***** Navigator ***/
nav {
    text-align: center;
    font-size: 1em;
    padding: 30px;
    margin: 0 auto;
    width: auto;
}

ul {
    display: inline-flex;
    padding: 0;
    width: 100%;
}

nav li {
    flex-basis: 20%;
    list-style-type: none;
}

nav a {
    font-size: 0.9em;
    text-decoration: none;
    font-weight: 600;
    color: rgb(156, 156, 156);
}

.fas {
    font-size: 0.6em;
    padding-left: 5px;
}


nav a:hover {
    color: #fff;
}

/*********** Small grid in header ***********/
.s-container {
    display: grid;
    color: white;
    grid-template-columns: 65% 1fr; 
    grid-template-rows: 280px 280px;
}

.s-container-text {
    position: absolute;
    z-index: 2;
    bottom: 1.5rem;
    left: 40px;
    right: 80px;
}

.s-container-text h3 {
    display: inline-block;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 0.6em; 
    text-transform: uppercase;
    padding: 5px 15px;
    letter-spacing: 3px;
    margin-bottom: 10px;
}

.s-container-text h1 {
    text-transform: capitalize;
    font-family: 'Libre Baskerville', serif;
    margin: 20px 0;
}

.s-container img {
    width: 100%;
    height: 100%;
    z-index: 1;
    opacity: 0.5;
}

.small-watch h1,
.small-car h1 {
    margin: 10px 0;
    font-size: 1.3em;
}

.large-img p,
.small-watch p,
.small-car p {
    font-weight: 600;
    bottom: 20px;
    color: #949494;
    font-size: 0.9em;
}

/***** LARGE IMG ******/
.large-img {
    position: relative;
    grid-column: 1;
    grid-row: span 2;
}


.large-img h3 {
    background-color: #00acf7;
}

/*********** Round img ***********/
.round-img {
    display: inline-block;
    width: 100%;
}

.round-img img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    opacity: 1;
    float: left;
    margin-top: -11px;
    margin-right: 10px;
}

/******** SMALL WATCH ***************/
.small-watch {
    grid-column: 2;
    position: relative;
}

.small-car h3,
.small-watch h3 {
    background-color: #54a100;
}

/************* SMALL CAR ***************/
.small-car {
    grid-column: 2;
    grid-row: 2;
    position: relative;
}

/********** LARGER GRID *************/
.articles {
    background-color: rgb(232, 219, 219);
    padding: 60px 100px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    grid-template-rows: repeat(auto-fill, 30px);
}

.article {
    margin: 20px;
}
.article-category {
    color: #1c7d88;
    font-size: 1em; 
    font-weight: 700;
}

.article h2 {
    padding: 0 20px;
    font-family: 'Libre Baskerville', serif;
}

h3 {
    font-family: 'Libre Baskerville', serif;
}

.article p {
    padding: 20px;
    line-height: 30px;
}

.articles div {
    background-color: white;
}

.article img {
    width: 100%;
}

#quote {
    text-align: center;
}

#quote p,
.link-icon p {
    line-height: 55px;
}

#quote img {
    padding: 50px 0 0;
    width: 35px;
}

.fa-link {
    padding: 50px 0 0;
}

.link-icon a {
    text-decoration: none;
    color: #393939;
}

.link-icon {
    text-align: center;
}
.span-l-link img {
    margin-top: 20px;
}

.span-l-link {
    grid-row: span 25;
}

.article.span-xs {
    grid-row: span 12;
}

.article.span-s {
    grid-row: span 13;
}


.article.span-m {
    grid-row: span 19;
}

.article.span-l {
    grid-row: span 24;
}

.article.span-xl {
    grid-row: span 26;
}

.article-img-space {
    margin-bottom: 20px;
}


/*
.articles p,
.articles h2 {
    padding: 10px;
}


.l-grid-item3 a {
    text-align: center;
    color: rgb(114, 114, 114);
    text-decoration: none;
    font-size: 15px;
    padding: 20px;
}

.fa-link {
    color: rgb(114, 114, 114);

}



**** col 2 ****


.l-grid-item5 img {
    margin-bottom: 10px;
}


.author-rams {
    text-align: center;
}


/**** Large grids numbers *****/
#l-grid-numbers {
    background-color: rgb(232, 219, 219);
    text-align: center;
    grid-column: 1/-1;
    justify-content: center;
}

#l-grid-numbers ol li {
    list-style: none;
    display: inline;
    padding: 5px 10px;
    transition: ease-in-out 0.5s;
}

#l-grid-numbers li:hover {
    background-color: #171717;
    border-radius: 5px;
    cursor: pointer;
    color: #fff;
}

#l-grid-numbers ol li:first-of-type:hover,
#l-grid-numbers ol li:last-of-type:hover {
    background-color: rgb(232, 219, 219);;
    cursor: pointer;
}

#l-grid-numbers img:hover {
    transform: scale(1.1);
}

#l-grid-numbers img {
    display: inline-block;
    width: 20px;
    height: 20px;
    padding: 10px;
    background-color: #fff;
    border-radius: 50%;
    vertical-align: middle;
    transition: 0.6s;
}

/*********** Small image and tag grid **********/
.grid-item-4 {
    display: grid;
    grid-template-columns:  repeat(auto-fill, minmax(60%, 1fr));
    background-color: #fff;
    grid-gap: 30px;
    color: #171717;
    padding: 20px 40px;
}

/***** POSTS GRID ******/
.posts {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 20px;
}

.post-name {
    grid-column: 1/ -1;
}
.post-title {
    font-weight: bold;
}

.post-img {
    width: 67px;
    height: 67px;
    float: left;
    margin-right: 20px;
}

.post a {
    color: #171717;
    text-decoration: none;
}

.philosophy {
    display: grid;
    grid-gap: 20px;
    grid-template-rows: 20px repeat(auto-fit, minmax(20px, auto));
}

.philo .fab,
.philo .fas {
    color: #171717;
    font-size: 2em;
    padding: 10px;
}


/********* TAGS *******/
.tag-title {
    grid-column: span 3;
    text-align: center;
    padding: 20px 0 0;
    margin: 30px;
    font-size: 1.2em;
}

.tags {
    grid-column: span 3;
    text-align: center;
}

.tags ul {
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: center;
}

.tags li {
    background-color: #dadada;
    border-radius: 5px;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 0.8em; 
    letter-spacing: 2px;
    color: #171717;
    padding: 10px 25px;
    margin: 0 10px 20px;
    list-style: none;
}


/*************
************** FOOTER
*************/
footer {
    padding: 40px 50px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 3fr;
    grid-gap: 20px;
    background-color: #19191b;
    color: rgb(122, 122, 122);
}

.footer h4 {
    color: rgb(122, 122, 122);
}

.footer a {
    color: #414141;
    line-height: 35px;
    text-decoration: none;
}


/*******/
.footer-link {
    display: flex;
    flex-direction: column;
}

.footer-link h4 {
    color: rgb(206, 206, 206);
    text-transform: uppercase;
    padding-bottom: 30px;
    font-weight: 500;
    letter-spacing: 3px;
}

.footer-link hr {
    width: 100px;
    border-bottom: 1px solid #414141;
    margin-bottom: 20px;
}

/* E-MAIL */
.e-mail {
    background-color: #010101;
    margin: 20px 0;
}

.e-mail img {
    width: 25px;
    padding: 15px;
    vertical-align: middle;
}


.e-mail input::-webkit-input-placeholder { padding-bottom: 10px;}/* Chrome/Opera/Safari */
.e-mail input::-moz-placeholder { padding-bottom: 10px; } /* Firefox 19+ */
.e-mail input:-ms-input-placeholder { padding-bottom: 10px;}  /* IE 10+ */
.e-mail input:-moz-placeholder { padding-bottom: 10px;}  /* Firefox 18- */

button {
    background-color: #1d61a5;
    color: #fff;
    height: 60px;
    width: 90px;
    float: right;
    border: none;
    text-transform: uppercase;
    font-size: 13px;
    letter-spacing: 3px;
    border-radius: 0 5px 5px 0;
}

.footer-copyright {
    margin: 50px 0;
    grid-column: span 4;
    display: inline-flex;
}

