* {
    margin: 0;
    padding: 0;
}
html {
    background-color: black;
}

body {
    margin: 0 auto;
    width: 100vw;
}

h2 {
    text-transform: capitalize;
}

.article-category {
    color: #1c7d88;
    font-size: 1vw; 
    font-weight: 700;
}

p {
    color: rgb(122, 122, 122);
}

.p-large {
    color: #171717;
    font-size: 25px;
    text-align: center;
    font-weight: 700;
}
/********** MAIN GRID **********/
.wrapper {
    grid-column: 100%;
    grid-template-rows: auto auto auto auto;
}


/****** FIRST SECTION *******/
.grid-item-1 {
    background-color: #171717;
    padding: 50px 50px 0;
}

header {
    display: inline-flex;
    justify-content: space-between;
    width: 100%; 
}

.header {
    flex-basis: 25%;
}

#icons {
    font-size: 25px;   
}

.fas,
.fab {
    color: rgb(255, 255, 255);
}

input {
    border: none;
    background-color: #171717;
    color: white;
}

nav {
    text-align: center;
    border-top: 1px solid #393939;
}

ul {
    display: inline-flex;
    padding: 0;
    width: 100%;
}

nav li {
    flex-basis: 17%;
    list-style-type: none;
}

nav a {
    text-decoration: none;
    color: rgb(255, 255, 255);
}

/*********** Small grid in header ***********/
.s-container {
    display: grid;
    color: white;
    grid-template-columns: 65% 35%; 
    grid-template-rows: 250px 250px;
    /*grid-auto-rows: minmax(150px, auto);*/
}

.large-img h3 {
    position: absolute;
    z-index: 2;
    bottom:45%;
    left: 20px;
    text-transform: uppercase;
    font-size: 12px;
    padding: 5px 15px;
}

.small-watch h3,
.small-car h3  {
    position: absolute;
    z-index: 2;
    bottom: 45%;
    left: 20px;
    text-transform: uppercase;
    font-size: 12px;
    padding: 5px 15px;
}

.large-img h2,
.small-watch h2,
.small-car h2 {
    position: absolute;
    z-index: 2;
    bottom: 20%;
    left: 20px;
    text-transform: capitalize;
}

.large-img p,
.small-watch p,
.small-car p {
    position: absolute;
    z-index: 2;
    left: 20px;
    bottom: 20px;
    color: rgb(114, 114, 114);
}

/***** LARGE IMG ******/
.large-img {
    position: relative;
    grid-column: 1;
    grid-row: span 2;
}

.large-img img {
    width: 100%;
    height: 100%;
    z-index: 1;
    opacity: 0.5;
}

.large-img h3 {
    background-color: #00acf7;
}

/*********** Round img ***********/
#author-img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    position: absolute;
    z-index: 2;
    bottom: 10%;
    left: 20px;
    opacity: 1;
}

.large-img p {
    left: 80px;
}

/******** SMALL WATCH ***************/
.small-watch {
    grid-column: 2;
    position: relative;
}

.small-watch img{
    width: 100%;
    height: 100%;
    opacity: 0.5;
}

.small-car h3,
.small-watch h3 {
    background-color: #54a100;

}

/************* SMALL CAR ***************/
.small-car {
    grid-column: 2;
    grid-row: 2;
    position: relative;
}


.small-car img {
    width: 100%;
    height: 100%;
    opacity: 0.5;
}

/********** LARGER GRID *************/
.grid-item-2 {
    background-color: rgb(232, 219, 219);
    grid-template-rows: auto;
    padding: 50px 60px;
}

.larger-grid {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(auto-fill, minmax(33%, 1fr));
    grid-auto-rows: minmax(50px, auto);
}

.larger-grid div {
    background-color: white;
}

.larger-grid img {
    width: 100%;
}

.larger-grid p,
.larger-grid h2 {
    padding: 0 20px;
}

.l-grid-item1 {
    grid-row: 1/5;
}

.l-grid-item2 {
    grid-column: 1;
    grid-row: 5/9;
}

.l-grid-item3 {
    grid-column: 1;
    grid-row: 9/14;
}

.l-grid-item3 a {
    text-align: center;
    color: rgb(114, 114, 114);
    text-decoration: none;
    font-size: 15px;
    padding: 20px;
}

.fa-link {
    color: rgb(114, 114, 114);

}

#quote {
    width: 30px;
    justify-self: center;
}
/* .l-grid-item3 .link-svg,
.l-grid-item4 .quote {
    width: 50px;
} */

/**** col 2 ****/
.l-grid-item4 {
    grid-column: 2;
    grid-row: 1/8;
}

.l-grid-item5 {
    grid-column: 2;
    grid-row: 8/14;
}

.l-grid-item5 img {
    margin-bottom: 10px;
}

.l-grid-item6 {
    grid-column: 2;
    grid-row: 14/18;
}

.author-rams {
    text-align: center;
}

/**** col 3 ****/
.l-grid-item7 {
    grid-column: 3;
    grid-row: 1/5;
}

.l-grid-item8 {
    grid-column: 3;
    grid-row: 5/9;
}

.l-grid-item9 {
    grid-column: 3;
    grid-row: 9/13;
}

.l-grid-item10 {
    grid-column: 3;
    grid-row: 13/17;
}

/**** Large grids numbers *****/
#l-grid-numbers {
    background-color: rgb(232, 219, 219);
    text-align: center;
    grid-column: span 3;
}

#l-grid-numbers ol li {
    list-style: none;
    display: inline;
    padding: 5px 10px;
    transition: ease-in-out 0.5s;
}

#l-grid-numbers li:hover {
    background-color: #171717;
    border-radius: 5px;
    cursor: pointer;
    color: #fff;
}

#l-grid-numbers ol li:first-of-type:hover,
#l-grid-numbers ol li:last-of-type:hover {
    background-color: rgb(232, 219, 219);;
    cursor: pointer;
}

#l-grid-numbers img:hover {
    transform: scale(1.1);
}

#l-grid-numbers img {
    display: inline-block;
    width: 20px;
    height: 20px;
    padding: 10px;
    background-color: #fff;
    border-radius: 50%;
    vertical-align: middle;
    transition: 0.6s;
}


/*********** Small image and tag grid **********/
.grid-item-4 {
    display: grid;
    grid-template-columns:  repeat(auto-fill, minmax(33%, 1fr));
    grid-template-rows: 50px;
    background-color: #fff;
    grid-gap: 30px;
    color: #171717;
    padding: 20px 40px;
}

.grid-item-4 h4 {
    font-weight: bold;
}

.grid-item-4 img {
    width: 67px;
    height: 67px;
    float: left;
    margin-right: 20px;
}

.grid-item-4 a {
    color: #171717;
    text-decoration: none;
}

.popular-post {
    grid-column: span 2;
    position: relative;
}


.philosophy {
    position: relative;
}
.popular-post h3,
.philosophy h3 {
    position: absolute;
    bottom: 0;
}

.philosophy{
    grid-column: 3;
    grid-row: 1;
}

.philosophy-p {
    grid-column: 3;
    grid-row: span 3;
}

.pp-item1 {
    grid-column: 1;
    grid-row: 2;
}

.pp-item2 {
    grid-column: 1;
    grid-row: 3;
}

.pp-item3 {
    grid-column: 1;
    grid-row: 4;
}

.pp-item4 {
    grid-column: 2;
    grid-row: 2;
}

.pp-item5 {
    grid-column: 2;
    grid-row: 3;
}

.pp-item6 {
    grid-column: 2;
    grid-row: 4;
}

